<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Local stats/counters -->
	<bean id="TSC_LOCAL" class="com.github.ddth.tsc.mem.InmemCounterFactory"
		init-method="init" destroy-method="destroy" lazy-init="false">
	</bean>
	<!-- Global stats: un-comment bean TSC_GLOBAL to enable global stats/counters 
		(e.g. in case there are more than 1 running queue-server for load balancing) -->
	<!-- <bean id="TSC_GLOBAL" class="com.github.ddth.tsc.redis.RedisCounterFactory" 
		init-method="init" destroy-method="destroy" lazy-init="false"> <property 
		name="host" ref="_tscRedisHost" /> <property name="port" ref="_tscRedisPort" 
		/> <property name="redisPoolConfig"> <bean class="com.github.ddth.redis.PoolConfig"> 
		<property name="maxActive" value="2" /> <property name="minIdle" value="1" 
		/> </bean> </property> </bean> -->

	<bean id="QUEUE_API" class="queue.MySQLQueueApi" lazy-init="false"
		init-method="init" destroy-method="destroy" scope="singleton">
		<property name="tableMetadata" value="queue_metadata" />
		<property name="orphanMessagePolicy">
			<!-- Either ORPHAN_MESSAGE_POLICY_DISCARD or ORPHAN_MESSAGE_POLICY_REQUEUE -->
			<util:constant static-field="queue.QueueApi.ORPHAN_MESSAGE_POLICY_DISCARD" />
		</property>
		<property name="orphanMessageThresholdMs" value="10000" />
		<property name="dataSource">
			<bean id="DATASOURCE_QUEUE" class="org.apache.commons.dbcp2.BasicDataSource"
				destroy-method="close">
				<property name="driverClassName" value="com.mysql.jdbc.Driver" />
				<property name="url" ref="_db_url_queue" />
				<property name="username" ref="_db_user_queue" />
				<property name="password" ref="_db_password_queue" />
				<property name="defaultAutoCommit" value="false" />
				<property name="initialSize" value="1" />
				<property name="minIdle" value="1" />
				<property name="maxTotal" value="8" />
				<property name="maxConnLifetimeMillis" value="180000" />
				<property name="maxWaitMillis" value="10000" />
				<property name="poolPreparedStatements" value="false" />
				<property name="testOnBorrow" value="true" />
				<property name="testWhileIdle" value="true" />
				<property name="validationQuery" value="SELECT 1" />
				<property name="validationQueryTimeout" value="1" />
				<property name="defaultTransactionIsolation">
					<!-- For reading from queue: transaction isolation must be set to the 
						highest value. -->
					<util:constant static-field="java.sql.Connection.TRANSACTION_SERIALIZABLE" />
				</property>
			</bean>
		</property>
	</bean>

	<!-- beans for development env -->
	<beans>
		<bean name="_tscRedisHost" class="java.lang.String">
			<constructor-arg value="localhost" />
		</bean>
		<bean name="_tscRedisPort" class="java.lang.Integer">
			<constructor-arg value="6379" />
		</bean>

		<bean name="_db_url_queue" class="java.lang.String">
			<constructor-arg
				value="jdbc:mysql://localhost:3306/temp?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
		</bean>
		<bean name="_db_user_queue" class="java.lang.String">
			<constructor-arg value="test" />
		</bean>
		<bean name="_db_password_queue" class="java.lang.String">
			<constructor-arg value="test" />
		</bean>
	</beans>

	<!-- beans for production env -->
	<beans profile="prod,production">
		<bean name="_tscRedisHost" class="java.lang.String">
			<constructor-arg value="localhost" />
		</bean>
		<bean name="_tscRedisPort" class="java.lang.Integer">
			<constructor-arg value="6379" />
		</bean>

		<bean name="_db_url_queue" class="java.lang.String">
			<constructor-arg
				value="jdbc:mysql://localhost:3306/temp?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
		</bean>
		<bean name="_db_user_queue" class="java.lang.String">
			<constructor-arg value="test" />
		</bean>
		<bean name="_db_password_queue" class="java.lang.String">
			<constructor-arg value="test" />
		</bean>
	</beans>
</beans>